version: '3.8'

services:

  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped

  redis_new:
    image: redis:latest
    ports:
      - "6382:6379"
    restart: unless-stopped

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf:/etc/nginx/conf.d
    depends_on:
      - app
    restart: unless-stopped

  app:
    image: python:3.11-slim
    build: .
    ports:
      - "5001:5000"
    working_dir: /app
    volumes:
      - ./app:/app
    command: bash -c "pip install -r requirements.txt && python app.py"
    depends_on:
      - redis_new
    restart: unless-stopped

volumes:
  jenkins_home: